*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

/* Nishad CSS */

.ncc-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.ncc-btn_burger{
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.ncc-btn_burger::before, .ncc-btn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.ncc-btn_burger::before{
    transform: translateY(-16px);
}
.ncc-btn_burger::after{
    transform: translateY(16px);
}

.ncc-btn.open .ncc-btn_burger{
    transform: translateX(-50px);
    background: none;
}

.ncc-btn.open .ncc-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.ncc-btn.open .ncc-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}